
.op {
  background-color: rgb(226, 137, 2);
}

button {
  border-radius: 0;
  border: 1px solid rgba(105, 105, 105, 0.521);
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  justify-content: center;
}

.buttonsDown {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
}

.buttonsUp {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: grey;
  color: white;
}

.Between {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
